
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">Web application</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
          <li><a (click)="event()"><mat-icon>backup</mat-icon></a></li>
          <li><a (click)="espace()"><mat-icon>person</mat-icon></a></li>
          <li><a (click)="userList()"><mat-icon>group</mat-icon></a></li>
          <li><a (click)="assoList()"><mat-icon> format_list_bulleted</mat-icon></a></li>
          <li><a (click)="logout()"><mat-icon>exit_to_app</mat-icon></a></li>
      </ul>
    </nav>
  </div>
</section>


