<br/>
<br/>
<div class="row">
  <div class="col">
    <div class="section-title titre">
      <h2>Connexion</h2>
    </div>
  </div>
</div>  
<div class="container">
  <div class="row head">
    <div class="col-3 text-center body">
      <form>
        <div class="user-box">
          <input class="form-control" type="text" id="username" placeholder="username" />
        </div>
        <br/>
        <div class="user-box">
          <input class="form-control" type="password" id="password" placeholder="password" />
        </div>
        <br/>
        <a (click)="login()" class="btn btn-primary">Login</a> <br/>
      </form>
      <br>
      <a (click)="signup()" class="btn btn-primary">Inscrivez vous</a>
        
    </div>
  </div>
</div>
<br/>